<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>ETHAM Chatbot</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Vinculando o arquivo CSS externo -->
    <script>
        async function sendMessage() {
            const user_input = document.getElementById("user_input").value;

            const response = await fetch("", {
                method: "POST",
                headers: {"Content-Type": "application/x-www-form-urlencoded"},
                body: `user_input=${user_input}`
            });

            const data = await response.json();
            document.getElementById("chatbox").innerHTML += `<div class="question"><p id="question">${user_input}</p> <p id="user_question"><b>Você</b></p></div>`;
            document.getElementById("chatbox").innerHTML += `<div class="anwser"><p id="anwser">${data.response}</p> <p id="user_anwser"><b>PagaSó</b></p></div>`;
        }

        document.getElementById("user_input").value("");
    </script>
</head>
<body>
    <div id="chatbox"></div>
    <input type="text" id="user_input" placeholder="Digite sua pergunta">
    <button onclick="sendMessage()">Enviar</button>
</body>
</html>
